version: "3"
services:
  postgres:
    image: theshultz/kaplat-calculator-postgres-instance:latest
    ports:
      - "5432:5432"

  mongo:
    image: theshultz/kaplat-calculator-mongo-instance:latest
    ports:
      - "27017:27017"

  app:
    image: asafshuster/calculator:final
    restart: on-failure:10
    ports:
      - "4785:8496"
    depends_on:
      - postgres
      - mongo